<div id="bees_container">
	<script src="jquery-3.3.1.js"></script>
	<script src="facebookSDK.js"></script>
	
	<!--<fb:login-button id="fb_button" scope="public_profile,email" onlogin="checkLoginState()"></fb:login-button>-->
	<a id="logout" href="#"> Logout</a>

	<br/>
	<p id="referral"></p>

	<p> Are you already a member? Add your own referral!</p>
	<form>
		<input id="referral-url" type="referral" name="referral-url"></input>
		<input id="referral-submit" type="submit" name="referral-submit"></input>
	</form>

	<br/>
	<a id="close">close</a>
	
</div>