#bees_container{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
	width: 400px;
	height: 300px;
	padding: 5px;
	position: absolute;
	top: 20px;
	right: 20px;
	background: white;
	z-index: 2147483647;
	border: 1px solid black;
}