<div id="bees_container">
	<script src="jquery-3.3.1.js"></script>

	<p>Thinking of signing up for this website? Let's find out if your friends have a referral for you to save money!</p>

	<a id="signup" href="#">Sign up using facebook</a> <br/>

	<a id="close">close</a>
	
	<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

</div>
